@import "leaflet/dist/leaflet.css";

/* $$$$$$$$$ RESET STYLES $$$$$$$$$$ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Nastavení výchozího box modelu */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Nastavení výchozího pozadí a fontu */
body {
  line-height: 1;
  background-color: #fff;
  color: #000;
  font-family: Arial, sans-serif;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* $$$$$$$$$ GLOBAL STYLES $$$$$$$$$$ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000000;
  --secondary-color: #f8f8f8f6;
  --text-color: #1f1f1f;
  --text-color-light: #a8a8a8;
  --background-color: #fff;
  --background-color-darker: #f9f9f9;
  --button-color: #1b1b1b;
  --button-hover-color: #c1c1c1;
  --hover-color: #a81249;
  --placeholder-color: #a8a8a8;
}

/* Nastavení fontu pro všechny placeholdery */
::placeholder {
  font-family: "Lora", serif;
  color: var(--placeholder-color); 
  font-size: 1rem; 
}

/* $$$$$$$$$$ HEADER $$$$$$$$$$ */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--background-color);
}

.logo {
  width: 150px;
  height: auto;
}

.nav-right {
  display: block;
}

.nav-right ol {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
}

.nav-right ol li a {
  font-family: "Lato", serif;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.nav-right ol li a:hover {
  color: var(--text-color-light);
}

.nav-right li {
  position: relative;
}

.dropbtn {
  background: none;
  border: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1rem;
  font-family: "Lato", serif;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.3s ease;
  padding: 0; /* Odstranění výchozího paddingu tlačítka */
  margin: 0; /* Odstranění výchozího marginu tlačítka */
  line-height: 1; /* Zarovnání textu na střed */
  display: inline-block; /* Chování jako inline prvek */
  text-decoration: none; /* Odstranění podtržení */
}

.dropbtn:hover {
  color: var(--text-color-light);
}

.dropdown-content {
  position: absolute;
  top: 150%;
  left: -40%;
  background-color: var(--background-color);
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  min-width: 120px;
  border-radius: 5px;
}

.dropdown-content a {
  display: block;
  padding: 10px 15px;
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  text-transform: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: var(--text-color-light);
}

/* $$$$$$$$$ HAMBURGER MENU $$$$$$$$$ */
.hamburger-menu {
  display: none; /* Skryté ve výchozím stavu */
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  z-index: 10;
}


/* $$$$$$$$$ LENA SECTION $$$$$$$$$$ */
.lena-section {
  display: flex;
  align-items: center;
  padding: 3rem 0rem;
  background-color: var(--background-color-darker);
}

.lena-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  align-items: center;
  text-align: left;
}

.lena-left .lena-image {
  width: 100%;
  max-width: 450px;
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  filter: grayscale(100%); /* Černobílý efekt */
  transition: filter 0.3s ease; /* Plynulý přechod */
}

.lena-left .lena-image:hover {
  filter: grayscale(0%); /* Zobrazení barev při hoveru */
}

.lena-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-left: 20px;
}

.lena-right p {
  padding: 0.5rem;
}

.button-booking {
  display: flex;
  justify-content: center;
  margin: 4rem 0rem;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 60px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  transition: background-color 0.3s ease;
  animation: pulse 3s infinite; /* Přidána animace */
  transform-origin: center; /* Zajišťuje, že animace vychází ze středu */
}

.button-booking:hover {
  background-color: var(--text-color-light);
}

.button-booking a {
  color: var(--secondary-color);
  text-decoration: none;
}

.lena-right p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  font-family: "Lato", sans-serif;
}

/* $$$$$$$$$ GALLERY $$$$$$$$$$ */

/* Kontejner galerie */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responzivní mřížka */
  gap: 0.5rem; /* Mezera mezi buňkami */
  padding: 0.5rem; /* Odsazení kolem galerie */
  background-color: var(--background-color-darker);
}

/* Obalující div pro obrázky */
.gallery-container > div {
  width: 100%;
  aspect-ratio: 3 / 4; /* Poměr stran 1:1 (čtverec) */
  overflow: hidden; /* Skrytí přetékajícího obsahu */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0; /* Záložní barva pro případ, že se obrázek nenačte */
  border-radius: 8px; /* Zaoblené rohy */
}

/* Obrázky v galerii */
.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Zachování poměru stran obrázku a vyplnění prostoru */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animace při hoveru */
  cursor: pointer;
}

/* Efekt při najetí myší na obrázek */
.gallery-container img:hover {
  transform: scale(1.05); /* Jemné zvětšení */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Zvýraznění stínu */
}

/* $$$$$$$$$$ CONTACT $$$$$$$$$$ */

.contact-section {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 1rem 1rem 1rem;
  gap: 2rem;
  background-color: var(--background-color-darker);
}

.contact-info {
  display: flex;
  margin: 1rem auto 1rem 1rem;
}

.contact-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  min-width: 300px;
}

.contact-left h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  font-family: "Lato", serif;
  text-transform: uppercase;
}

.contact-left ol {
  list-style: none;
  padding: 0;
}

.contact-left ol li {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}

.contact-left i {
  margin-right: 0.5rem;
}

.contact-left p {
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--text-color);
  font-family: "Lora", sans-serif;
  line-height: 2.3rem;
}

.contact-text {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

/* $$$$$$$$$$$$$ CONTACT FORM $$$$$$$$$$ */
.form-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1rem 0rem 0rem 0rem;
  gap: 1.5rem;
  font-family: "Lato", sans-serif;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1rem 0rem 0rem 0rem;
  gap: 1.5rem;
  font-family: "Lato", sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-family: "Lora", serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.form-group input,
.form-group textarea {
  resize: none;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.submit-btn {
  display: block; /* Zajistí, že margin funguje správně */
  margin: 1rem auto; /* Automatické zarovnání na střed */
  padding: 10px 20px;
  background-color: var(--button-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 60px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

.submit-btn:hover {
  background-color: var(--text-color-light);
}

.form-info {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: bold;
}

/* $$$$$$$$$$ CONTACT RIGHT $$$$$$$$$$ */

.contact-right {
  flex: 1;
  min-width: 300px;
}

.tattoo-studio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

.tattoo-studio img {
  align-self: center;
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Jemný stín */
}

.contact-icons {
  display: flex;
  gap: 1rem;
}
.google-map {
  height: 400px; /* Výška mapy */
  width: 100%; /* Šířka mapy */
  border-radius: 8px; /* Zaoblené rohy */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Jemný stín */
}
/* $$$$$$$$$$ FOOTER $$$$$$$$$$ */

.App-footer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Lato", sans-serif;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
}

.footer-author {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.footer-author a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  
}

.footer-references a{
  display: flex;
  gap: 1rem;
  text-decoration: none;
  color: var(--secondary-color);
}


.footer-down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 0.9rem;
  padding: 1rem 2rem;
  text-align: center;
}

/* $$$$$$$$$$$ ANIMATIONS $$$$$$$$$$ */

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.03); /* Jemné zvětšení */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

/* $$$$$$$$$$$ MEDIA QUERIES $$$$$$$$$$ */

@media (max-width: 550px) and (min-width: 300px) {
  .hamburger-menu {
    display: flex; /* Zobrazení hamburger menu */
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
    position: absolute; /* Umístění relativně k rodiči */
    top: 0;
    right: 0;
    margin: 2.3rem 2rem; /* Přidání odsazení od horního a pravého okraje */
    z-index: 10;
  }

  .nav-right {
    display: none; /* Skryté ve výchozím stavu */
    align-items: center;
    justify-content: center;
  }

  .nav-right.open {
    display: flex; /* Zobrazení při otevření hamburger menu */
    z-index: 12;
  }

  .nav-right.open ol {
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--background-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }

  .nav-right.open ol li {
    margin: 0.5rem;
  }

  .nav-right.open.dropbtn ol li a {
    padding: 10px 15px;
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color);
    border-radius: 5px;
  }

  .dropdown-content {
    position: absolute;
    top: -170%;
    left: -170%;
    background-color: var(--background-color);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    min-width: 120px;
  }
  .lena-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
    background-color: #f9f9f9;
  }
}

/* Pro obrazovky pod 900px */
@media (max-width: 900px) {
  .lena-section {
    flex-direction: column;
    align-items: center;
  }
  .gallery-container {
    grid-template-columns: repeat(4, 1fr); /* 4 obrázky vedle sebe */
  }
  .footer-upper {
    justify-content: space-evenly;
  }
}